# This is a workflow for Pylint check.

name: CI Pipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  pylint-check:
    name: Run Pylint
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip==24.0
        if [ -f "requirements.txt" ]; then pip install -r requirements.txt; fi

    - name: Run Pylint
      run: |
        NUM_CORES=$(nproc)
        pylint . --jobs=$NUM_CORES --rcfile=.github/pylint.conf
