name: Auto-add hardware label
on:
  issues:
    types: [opened, edited]

jobs:
  label-hardware:
    runs-on: ubuntu-latest
    steps:
      - name: Get hardware selection
        id: get_hardware
        run: |
          echo "HARDWARE=$(jq -r '.issue.body | fromjson | .hardware' $GITHUB_EVENT_PATH)" >> $GITHUB_ENV

      - name: Add hardware label
        uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: ${{ lower(env.HARDWARE) }}